__pycache__/
*.pyc
*.pyo
*.pyd
.Python
env/
venv/
.env
.venv
pip-log.txt
pip-delete-this-directory.txt
.tox/
.coverage
.cache
nosetests.xml
coverage.xml
*.cover
*.log
.git/
.gitignore
.dockerignore
sqlite_schema.sql
downloader.db
downloader.db-journal
tmp/
dist/
node_modules/
